@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

main{
    font-family: "Roboto";
}

.video-title{
    margin: 0px auto;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}

.video-statitics{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
}

.video-description{
    font-family: "Roboto";
    font-weight: 400;
    size: 14px;
    line-height: 100%;
}

.related-video-title{
    font-family: "Roboto";
    font-weight: 400;
    size: 14px;
    line-height: 100%;
    margin: 0;
}

.channel-name{
    margin: 0px;
    font-family: "Roboto";
    font-weight: 600;
    size: 14px;
    line-height: 100%;
}

.channel-subs{
    margin: 0px;
    font-family: "Roboto";
    font-weight: 400;
    size: 14px;
    line-height: 100%;
    color: rgb(134, 134, 134);
}

.channel-info .right{
    margin: 0px;
    font-family: "Roboto";
    font-weight: 400;
    size: 14px;
    line-height: 100%;
    color: rgb(0, 0, 0);
}

.related-video-infos p{
    font-family: "Roboto";
    font-weight: 400;
    size: 10px;
    line-height: 100%;
    color: rgb(59, 59, 59);
}